*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: dimgray;
    width: 100%;
}

.head {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    margin: 25vh 65vw;
    top: 10px;
    left: -30vw;
    width: 200px;
    height: 160px;
    border-radius: 80px / 40px;
    background: gold;
  }

.eyes {
    display: flex;
    justify-content: center;
    align-content: bottom;
    height: 60px;
    /* margin: 25vh auto; */
    text-align: center;
}

.eye {
    width: 80px;
    height: 50px;
    background: #fff;
    display: inline-block;
    margin: 30px 10px;
    border-radius: 35% 35% 50% 50%;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ball {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

img {
    width: 50px;
    height: 50px;
}

.effect {
    height: 2px;
    background-color: white;
    margin-top: 60px;
}